{% extends "base.html" %}

{% block title %}DND Player Tracker{% endblock %}

{% block head %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        	<div class="row jumbotron dnd-box-header">  
                <div class="col-md-6 dnd-text">Welcome {{ user.first_name }}
                </div>
                <div class="col-md-6 dnd-text right"> {{ datetime.now() }}
                </div>
                <p></p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- Character List -->
    {% for c in characters %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 dnd-text">
                <div class="row jumbotron dnd-box">
                    <div class="col-md-6 dnd-text">Name: {{c.name}}
                    </div>
                    <div class="col-md-6 dnd-text">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
