{% extends "base.html" %}

{% block title %}DND Player Tracker{% endblock %}

{% block head %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        	<div class="row jumbotron dnd-box-header">  
                <div class="col-md-6 dnd-text">Welcome {{ user.first_name }}
                </div>
                <div class="col-md-6 dnd-text right"> {{ last_played }}
                </div>
                <p></p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- Character List -->
    <div class="row">
        {% for idx,c in enumerate(characters) %}
            <div class="col-sm-6 col-md-4">
                <div class="dnd-char-pad dnd-character">
                    <img src="/static/images/arnold.jpg" data-src="holder.js/100x100" alt="...">
                    <div class="caption">
                        <p class="dnd-text header-text">{{c.name}}</p>
                        <p class="dnd-text">Race:  {{c.race.name}}
                        {% if c.race.sub_race %}
                            ({{ c.race.sub_race }})
                        {% endif %}
                        </p>
                        <p class="dnd-text">Level:  {{c.level}}</p>
                        <p class="dnd-text">XP:  {{c.xp}}</p>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Edit</a></p>
                    </div>
                </div>
            </div>
            {% if ((idx+1) % 3 == 0 and idx != len(characters)) %}
            </div>
            <div class="row">
            {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}
